/* Detail post CSS*/
*{
  box-sizing: border-box;
}

.detail_post_back_button {
  background-color: rgb(216, 136, 38);
  color: white;
  display: inline-block;
  height: 30px;
  width: 80px;
  font-size: 13px;
  font-weight: bolder;
  /*margin-top: 50px;*/
  margin-right: 20px;
  margin-top: 20px;
  vertical-align: top;
  border-radius: 4px;
  transform: translateY(3px);

}
.detail_post_content {
  background-color: lightgrey;
  border: solid 4px;
  border-radius: 8px;
  font-size: 18px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
  width: 50%;
}
.detail_post_img {
  border-radius: 8px;
  display: block;
  margin: 2% auto 2% auto;
  vertical-align: middle;
  width: 70%;
}
.detail_post_info {
  background-color: black;
  border-radius: 8px;
  color: rgb(26, 145, 169);
  margin-top: 10px;
  opacity: 0.8;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100px;
}
.detail_post_wrapper {
  background-image: url("http://4.bp.blogspot.com/-H0IW7YOY23w/UQMjnwLdL6I/AAAAAAAAAIc/NXQ9ynFuhPA/s1600/NBA+court.jpg");
  border: none;
  height: auto;
  margin: 0px;
  width: 100%;
}
.post_info {
  display: inline-block;
  width: 50%;
  margin-right: 15%;
  font-size: 40px;
  margin-top: 20px;
}

/*.paragraphOverflow {
  overflow: scroll;
}*/
