
.footer_container{
  background-color: black;
  border-radius: 8px;
  color: rgb(26, 145, 169);
  height: 100px;
  opacity: 0.8;
  text-align: center;
  width: 100%;

}
.social_media_link{
  color: rgb(213, 70, 133);
  display: inline-block;
  text-decoration: none;
  margin: 20px 10px 0px 10px;
}
