*{
  box-sizing: border-box;
}

.hidden{
  visibility: hidden;
}

.listOfPost{
  border: 8px solid black;
  border-radius: 10px;
  background-color: grey;
  height: 300px;
  list-style:circle;
  padding-left: 10px;
  margin-left: 300px;
  overflow: scroll;
  width: 50%;
}

.createPost{
  background-color: grey;
  display: inline-block;
  margin-left: 450px;
  height: 20px;
  width: 200px;
}

.postDate {
  display: inline-block;
  font-size: 12px;
  margin: 0;
}

.postTitle {
  display: inline-block;
  font-size: 20px;
  margin: 0;
  padding-left: 50px;
}

.postHistory{
  margin-left: 500px;
}

.previewPost{
  font-size: 15px;
  padding-left: 20px;
  margin: 0
}

.postHistoryTitle{
  text-align: center;
  padding: 4px;
  opacity: 0.8;
  background-color: black;
  font-weight: bolder;
  font-size: 50px;
  color: rgb(26, 145, 169)
}
