*{
  box-sizing: border-box;
}

.hidden{
  display: none;
}

.visible {
  display: block;
}

.listOfPost{
  border: 8px solid black;
  border-radius: 10px;
  background-color: lightgrey;
  height: 300px;
  list-style: none;
  padding-left: 10px;
  margin-left: 320px;
  overflow: scroll;
  width: 50%;
}

.createPostButton{
  background-color: grey;
  display: inline-block;
  margin-left: 500px;
  height: 20px;
  width: 200px;
}

.postDate {
  display: inline-block;
  font-size: 12px;
  margin: 0;
  white-space: pre;
}

.postTitle {
  color: rgb(213, 70, 133);
  display: inline-block;
  font-size: 20px;
  margin: 0;
  padding-left: 0px;
  white-space: pre;
}

.postHistory{
  margin-left: 500px;
}

.previewPost{
  font-size: 12px;
  padding-left: 20px;
  white-space: pre;
  margin: 0;
  margin-bottom: 10px;
}

.postHistoryTitle{
  text-align: center;
  padding: 4px;
  opacity: 0.8;
  background-color: black;
  font-weight: bolder;
  font-size: 50px;
  color: rgb(26, 145, 169)
}
